[Unit]
Description=Policy server that blocks senders based on country and IP diversity.
After=network.target

[Service]
Type=simple
Restart=always
DynamicUser=1
EnvironmentFile=-/etc/default/geoip-policyd
ExecStart=/usr/sbin/geoip-policyd server
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=geoip-policyd
MemoryLimit=50M
CPUQuota=50%

CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_CHOWN
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
ReadOnlyPaths=/etc
ProtectKernelModules=true
MemoryDenyWriteExecute=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectClock=true
RestrictSUIDSGID=true
ProtectProc=invisible
LimitNOFILE=1024
RestrictAddressFamilies=AF_INET AF_INET6

[Install]
WantedBy=multi-user.target