[Unit]
Description=Postfix policy service GeoIP
After=network.target

[Service]
EnvironmentFile=-/etc/default/geoip-policyd
Type=simple
User=policyd
Group=policyd
ExecStart=/usr/local/sbin/geoip-policyd server

[Install]
WantedBy=multi-user.target
